DATABASE_URL="postgresql://postgres:postgres@localhost:5432/collabdb"
JWT_SECRET="your_jwt_secret_here"
PORT=3001
NODE_ENV="development"
DATABASE_URL=postgresql://postgres.tisundrnktqcjofafxsm:Akshay%4012%402007@aws-1-ap-south-1.pooler.supabase.com:6543/postgres

JWT_SECRET=dev_secret_do_not_use_in_prod
PORT=3001
NODE_ENV=development
RAZORPAY_KEY_ID=rzp_test_SNuNXIOaijXkNZ
RAZORPAY_KEY_SECRET=8Rd2DZH4lkDbs8gMt1oOGcR0
